# 11. Model Inference

## 11.1 Import Library

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pickle

## 11.2 Load Model

In [2]:
with open('pca.pkl', 'rb') as file_1:
    pca = pickle.load(file_1)

with open('km.pkl', 'rb') as file_2:
    km = pickle.load(file_2)

## 11.3 Buat data dummy

In [3]:
df = pd.read_csv("P1G6_Set_1_Hafidsz_Masruri.csv")
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CUST_ID,4475.0,4476.000000,2583.931114,2.000000,2239.000000,4476.000000,6713.000000,8950.000000
BALANCE,4475.0,1565.743939,2091.205727,0.000000,132.536353,874.905296,2058.519163,19043.138560
BALANCE_FREQUENCY,4475.0,0.877608,0.235604,0.000000,0.888889,1.000000,1.000000,1.000000
PURCHASES,4475.0,1003.158324,2210.812899,0.000000,40.065000,362.480000,1122.640000,49039.570000
ONEOFF_PURCHASES,4475.0,588.504849,1666.500287,0.000000,0.000000,29.990000,580.320000,40761.250000
INSTALLMENTS_PURCHASES,4475.0,415.025075,927.360842,0.000000,0.000000,89.450000,484.255000,22500.000000
CASH_ADVANCE,4475.0,973.453671,2133.464502,0.000000,0.000000,0.000000,1098.569962,29282.109150
PURCHASES_FREQUENCY,4475.0,0.490122,0.399874,0.000000,0.083333,0.500000,0.916667,1.000000
ONEOFF_PURCHASES_FREQUENCY,4475.0,0.202614,0.298502,0.000000,0.000000,0.083333,0.333333,1.000000
PURCHASES_INSTALLMENTS_FREQUENCY,4475.0,0.364989,0.397336,0.000000,0.000000,0.166667,0.750000,1.000000
CASH_ADVANCE_FREQUENCY,4475.0,0.134156,0.199221,0.000000,0.000000,0.000000,0.181818,1.166667
CASH_ADVANCE_TRX,4475.0,3.196425,6.500169,0.000000,0.000000,0.000000,4.000000,110.000000
PURCHASES_TRX,4475.0,14.490503,24.156038,0.000000,1.000000,7.000000,17.000000,358.000000
CREDIT_LIMIT,4474.0,4494.020175,3668.535689,150.000000,1500.000000,3000.000000,6000.000000,30000.000000
PAYMENTS,4475.0,1726.212274,2961.258570,0.000000,390.206371,831.048408,1895.959003,46930.598240
MINIMUM_PAYMENTS,4317.0,854.429538,2306.411178,0.037744,169.814310,309.854995,830.395060,61031.618600
PRC_FULL_PAYMENT,4475.0,0.157206,0.295869,0.000000,0.000000,0.000000,0.166667,1.000000
TENURE,4475.0,11.516425,1.347819,6.000000,12.000000,12.000000,12.000000,12.000000

In [4]:
def get_min_max(df):
    min_max_list = []
    for col in df.columns:
        min_val = df[col].min()
        max_val = df[col].max()
        min_max_list.append(f"{col}({min_val},{max_val})")
    return min_max_list

Func untuk mencari nilai minimum dan maximum tiap kolom

In [5]:
get_min_max(df)

['CUST_ID(2,8950)',
 'BALANCE(0.0,19043.13856)',
 'BALANCE_FREQUENCY(0.0,1.0)',
 'PURCHASES(0.0,49039.57)',
 'ONEOFF_PURCHASES(0.0,40761.25)',
 'INSTALLMENTS_PURCHASES(0.0,22500.0)',
 'CASH_ADVANCE(0.0,29282.10915)',
 'PURCHASES_FREQUENCY(0.0,1.0)',
 'ONEOFF_PURCHASES_FREQUENCY(0.0,1.0)',
 'PURCHASES_INSTALLMENTS_FREQUENCY(0.0,1.0)',
 'CASH_ADVANCE_FREQUENCY(0.0,1.166667)',
 'CASH_ADVANCE_TRX(0,110)',
 'PURCHASES_TRX(0,358)',
 'CREDIT_LIMIT(150.0,30000.0)',
 'PAYMENTS(0.0,46930.59824)',
 'MINIMUM_PAYMENTS(0.037744,61031.6186)',
 'PRC_FULL_PAYMENT(0.0,1.0)',
 'TENURE(6,12)']

Contoh data 1:

In [6]:
#dummy
np.random.seed(5)

BALANCE = np.random.uniform(0.0,19043.13856,5)
BALANCE_FREQUENCY = np.random.uniform(0.0,1.0,5)
PURCHASES = np.random.uniform(0.0,49039.57,5)
ONEOFF_PURCHASES = np.random.uniform(0.0,40761.25,5)
INSTALLMENTS_PURCHASES = np.random.uniform(0.0,22500.0,5)
CASH_ADVANCE = np.random.uniform(0.0,29282.10915,5)
PURCHASES_FREQUENCY= np.random.uniform(0.0,1.0,5)
ONEOFF_PURCHASES_FREQUENCY= np.random.uniform(0.0,1.0,5)
PURCHASES_INSTALLMENTS_FREQUENCY= np.random.uniform(0.0,1.0,5)
CASH_ADVANCE_FREQUENCY= np.random.uniform(0.0,1.166667,5)
CASH_ADVANCE_TRX= np.random.uniform(0,110,5)
PURCHASES_TRX= np.random.uniform(0,358,5)
CREDIT_LIMIT= np.random.uniform(150.0,30000.0,5)
PAYMENTS= np.random.uniform(0.0,46930.59824,5)
MINIMUM_PAYMENTS= np.random.uniform(0.037744,61031.6186,5)
PRC_FULL_PAYMENT= np.random.uniform(0.0,1.0,5)

In [12]:
datainf = {
    'PURCHASES_FREQUENCY': PURCHASES_FREQUENCY,
    'ONEOFF_PURCHASES_FREQUENCY': ONEOFF_PURCHASES_FREQUENCY,
    'PURCHASES_INSTALLMENTS_FREQUENCY': PURCHASES_INSTALLMENTS_FREQUENCY,
    'BALANCE': BALANCE,
    'BALANCE_FREQUENCY': BALANCE_FREQUENCY,
    'PURCHASES': PURCHASES,
    'ONEOFF_PURCHASES': ONEOFF_PURCHASES,
    'INSTALLMENTS_PURCHASES': INSTALLMENTS_PURCHASES,
    'CASH_ADVANCE': CASH_ADVANCE,
    'CASH_ADVANCE_FREQUENCY': CASH_ADVANCE_FREQUENCY,
    'CASH_ADVANCE_TRX': CASH_ADVANCE_TRX,
    'PURCHASES_TRX': PURCHASES_TRX,
    'CREDIT_LIMIT': CREDIT_LIMIT,
    'PAYMENTS': PAYMENTS,
    'MINIMUM_PAYMENTS': MINIMUM_PAYMENTS,
    'PRC_FULL_PAYMENT': PRC_FULL_PAYMENT,
}
datainf = pd.DataFrame(datainf)
datainf

,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,0.024307,0.577663,0.259098,4227.446716,0.611744,3959.517101,11172.106799,13498.406924,4221.434787,0.547737,84.793950,89.945750,19115.382737,4420.990577,3121.363867,0.352095
1,0.204556,0.001642,0.802497,16581.475955,0.765908,36212.794596,16884.737172,5980.930145,4849.493878,1.145047,53.342418,345.439675,24385.286377,16944.218272,11514.727916,0.638878
2,0.699844,0.515473,0.870483,3936.581518,0.518418,21641.614528,12068.588158,6405.432314,28225.918965,0.465436,3.202272,226.172247,27811.476065,1666.460103,22305.723687,0.493415
3,0.779515,0.639795,0.922750,17493.234803,0.296801,7763.447839,25630.181151,5705.734630,28117.463486,0.949355,9.517826,292.364353,27391.908897,25640.924150,14909.495543,0.583500
4,0.022933,0.985624,0.002214,9300.881942,0.187721,43151.733637,23634.913941,7370.188823,5517.178511,0.637533,12.259919,202.657355,24770.600005,37363.454174,48525.483135,0.939299

contoh data 2:

In [9]:
data_dict = {
    'PURCHASES_FREQUENCY': [0.125],
    'ONEOFF_PURCHASES_FREQUENCY': [0.0],
    'PURCHASES_INSTALLMENTS_FREQUENCY': [0.125],
    'BALANCE': [0.002116],
    'BALANCE_FREQUENCY': [0.0],
    'PURCHASES': [0.045763],
    'ONEOFF_PURCHASES': [0.0],
    'INSTALLMENTS_PURCHASES': [0.103251],
    'CASH_ADVANCE': [0.0],
    'CASH_ADVANCE_FREQUENCY': [0.0],
    'CASH_ADVANCE_TRX': [0.0],
    'PURCHASES_TRX': [0.030769],
    'CREDIT_LIMIT': [0.054264],
    'PAYMENTS': [0.0],
    'MINIMUM_PAYMENTS': [0.116805],
    'PRC_FULL_PAYMENT': [0.0]
}
data_dict = pd.DataFrame(data_dict)
data_dict

,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,0.125,0.0,0.125,0.002116,0.0,0.045763,0.0,0.103251,0.0,0.0,0.0,0.030769,0.054264,0.0,0.116805,0.0

In [10]:
inf_pred1 = pca.transform(data_dict)
pred1 = km.predict(inf_pred1)
pred1

array([0])

Pada contoh sampel diatas masuk kedalam cluster 0

In [11]:
scaler = MinMaxScaler()
# Fit the scaler
scaler.fit(datainf)
inf_pred2 = pca.transform(datainf)
pred2 = km.predict(inf_pred2)
pred2

array([3, 3, 3, 3, 3])

Dari 5 sampel baru, ternyata masuk kedalam cluster 3